<nav class="bg-gradient-to-r from-slate-50 to-slate-100 shadow-lg flex justify-between items-center px-6 md:px-10 py-4 rounded-b-lg">
    <div class="font-bold text-2xl text-slate-700">
        <h1>Users</h1>
    </div>

    <div class="flex items-center justify-center gap-3">
        <input class="border-2 border-slate-200 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-400 transition-colors duration-300 shadow-sm" type="text" placeholder="Enter user's name">
        <button class="cursor-pointer rounded-lg shadow-md bg-slate-700 text-white px-4 py-2 hover:bg-slate-800 transition-colors duration-300 font-medium">
            Search
        </button>
    </div>
</nav>